
.awardCover{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    flex-direction: column;
    background: #111;
  }
  
  .awardImage {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% ;
    object-fit: cover;
    opacity: 0.8;
  }

  .awardCover h1 {
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-size: 82px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
  }

  header .awardCover-text {
    padding-top: 350px;
    padding-bottom: 200px;
    text-align: center;
  }


  .card {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    text-align: left;
    hyphens: manual;
    align-content: flex-start;
    display: flex;
    width: 100%;
  }
  
  .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    max-width: 100%;
    transition: .5s;
  }
  
  .card:hover .card-image {
    opacity: .5;
    transform: translateX(30%);/*100%*/
  }

/* !!!!!!da se dogovorime pozadina na hover */
.card-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;/*100%*/
    height: 100%;
    /* background: #ffc107; */
    background: linear-gradient(to right, #6372ff 0%, black 100%);
  
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
  }
  
  .card:hover .card-details {
    transform: perspective(2000px) rotateY(0deg);
  }
  .card-text {
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .card-topic{
    margin: 0;
    padding: 0;
    color:linear-gradient(to right, #6372ff 0%, black 100%);
    line-height: 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
    text-shadow: 1px 1px #03a9f4;
  }
  

  .card-opis {
    margin: 5px 0;
    padding: 0;

  }
  
  .card-opis ul {

    margin-left: -15px;
 
   
  }
  
  .card-opis ul li {
    float: left;
    hyphens: manual;
    padding-left: 50px;
    clear: both;  
    padding-bottom: 10px;
    }
  
  
  
  